button {
  border: none;
  font-weight: 750;
  font-size: 32px;
  width: 64px;
  height: 64px;
  text-align: center;
  margin: 1px;
  border-radius: 10px;
}

.h:hover {
  background-color: cornflowerblue;
  color: white;
}

.d {
  background-color: cornflowerblue;
  color: white;
}